@model LoginViewModel
@{
    Layout = "_LoginLayout";
}

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">

                    <div>
                        <div class="p-5">
                            <div class="text-center">
                                <img src="/logo.png" alt="logo" height="90" width="100">
                            </div>
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                            {
                                <div class="form-group">
                                    @Html.Label("", "Inserire la proria Email", new { @class = "form-control " })
                                    @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger bigger-110 red" })
                                </div>
                                <div class="form-group">
                                    @Html.Label("", "Inserire la password", new { @class = "form-control " })
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-user" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger bigger-110 red" })
                                </div>
                                <div class="form-group">
                                    <div class="form-check-inline">
                                        @Html.Label("", "Ricordami")
                                        @Html.CheckBoxFor(model => model.Ricordami, new { @class = "form-control form-control-user" })
                                        @Html.ValidationMessageFor(model => model.Ricordami, "", new { @class = "text-danger bigger-110 red" })
                                    </div>
                                </div>
                                <input type="submit" value="Login" class="btn btn-primary btn-user btn-block" />
                            }
                            @*<div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="register.html">Create an Account!</a>
                            </div>*@
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>
@*<div class="container">

        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">

                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Ben Tornato!!</h1>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Mail, new { @class = "form-control form-control-user" })
                                @Html.TextBoxFor(model => model.Mail, new { @class = "form-control form-control-user" })
                                @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger bigger-110 red" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "form-control form-control-user" })
                                @Html.EditorFor(model => model.Password, new { @class = "form-control form-control-user" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger bigger-110 red" })
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    @Html.LabelFor(model => model.Ricordami, new { @class = "form-control " })
                                    @Html.EditorFor(model => model.Ricordami, new { @class = "form-control form-control-user" })
                                    @Html.ValidationMessageFor(model => model.Ricordami, "", new { @class = "text-danger bigger-110 red" })
                                </div>
                            </div>
                            <input type="submit" class="btn btn-success" value="Login" />
                            <hr>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="register.html">Create an Account!</a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        }
    </div>*@
