@model AbbonamentiViewModel.IndexViewModel

@{
    ViewData["Title"] = "Elimina";
    Layout = "_Layout";
}



<h3>Sicuro di voler eliminare questo abbonamento?</h3>
<div>
    <h4>Abbonamenti</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Abbonamenti)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Abbonamenti)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInizio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInizio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFine)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Torna alla lista</a>
    </form>
</div>
